.amdin-main-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    padding: 3rem;
}
.admin-main-title {
    font-family: GangwonEduPowerExtraBoldA;
}

.admin-col {
    margin: 10px;
    text-align: center;
    /* background-color: red; */
}

.admin-img {
    height: 5rem;
    margin: 1rem;
}

.admin-product-img {
    width: 100%;
}