@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eoe_Zno_EB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_EB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Recipekorea';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
  font-family: 'BinggraeMelona-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(238, 26%, 23%);
  --clr-primary-2: hsl(240, 25%, 30%);
  --clr-primary-3: hsl(239, 26%, 38%);
  --clr-primary-4: hsl(239, 25%, 46%);
  /* primary/main color */
  --clr-primary-5: hsl(239, 29%, 53%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(239, 29%, 60%);
  --clr-primary-7: hsl(239, 29%, 67%);
  --clr-primary-8: hsl(239, 29%, 73%);
  --clr-primary-9: hsl(240, 29%, 87%);
  --clr-primary-10: hsl(240, 29%, 93%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.1s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: NanumSquareRound;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  padding-top: 73px;
  padding-bottom: 56px;
  background-color: white;
}

ul li {
  list-style-type: none;
}

input {
  width: 95%;
  font-family: NanumSquareRound;
  height: 2.2rem;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  /* margin: 10px; */
  padding-left: 2rem;
  background-color: var(--clr-primary-9);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
    padding-top: 82px;
    background-color: white;
  }

  input {
    width: 20rem;
    font-family: NanumSquareRound;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    margin-left: 10px;
    padding-left: 10px;
    background-color: var(--clr-primary-9);
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (max-width: 992px) and (min-width: 800px) {
  .search-box {
    display: none;
  }

  .recommend {
    margin: 0.5rem 5%;
  }
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }

  .recommend {
    margin: 0.5rem 10%;
  }
}

/*
=============== 
Navbar
===============
*/
nav {
  font-family: GangwonEduPowerExtraBoldA;
  background: var(--clr-white);
  /* box-shadow: var(--light-shadow); */
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.2s ease-in-out;
}

.nav-header {
  /* background-color: var(--clr-white); */
  /* background-color: red; */
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  transform: rotate(0);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-primary-5);
  /* transform: rotate(90deg); */
}

.links {
  background-color: var(--clr-white);
  padding-bottom: 1rem;
}

.links li {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.4rem 1rem;
  transition: var(--transition);
}

.links li:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-6);
  padding-left: 1.2rem;
}

.social-icons {
  display: none;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-container {
  height: 10rem;
}

.search-box {
  /* text-align: center; */
}

.search-wrap {
  background-color: var(--clr-white);
  /* background-color: red; */
  width: 100%;
}

.search-icon {
  left: 24px;
  height: 15px;
  display: inline-block;
  color: var(--clr-primary-5);
  transition: var(--transition);
  background-color: transparent;
  position: absolute;
  top: 47%;
  transform: translatey(-50%);
}

.logo1 {
  height: 50px;
}

@media screen and (max-width: 992px) {
  .logo {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  nav {
    background: var(--clr-white);
    /* box-shadow: var(--light-shadow); */
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-center {
    max-width: 90%;
    /* height: 80px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    display: none;
  }

  .nav-toggle {
    display: none;
  }

  .search-box {
    display: none;
  }

  .logo {
    height: 50px;
  }

  /* 사이즈 변경위해 꼭 필요 */
  .links-container {
    /* background-color: red; */
    height: auto !important;
    /* margin: 0 auto; */
  }

  .links {
    display: inline;
    background-color: transparent;
  }

  .links li {
    /* background-color: black; */
    color: rgb(66, 66, 66);
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0 0.8rem;
  }

  .links li:hover {
    padding: 0;
    background: transparent;
  }

  .social-icons {
    display: inline;
    padding-top: 1px;
  }

  .social-icons ul li {
    display: inline-block;
    float: left;
  }

  .li-box {
    display: inline;
  }

  .li-li {
    margin-left: 1rem;
    /* color: rgb(194, 194, 194); */
  }

  .social-icon {
    height: 1.5rem;
    color: rgb(66, 66, 66);
  }

  .social-icon:hover {
    color: var(--clr-primary-5);
  }

}

/*
=============== 
Bottom Nav
===============
*/

@media screen and (min-width: 992px) {
  .bottom-nav {
    display: none;
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: var(--clr-white);
  /* background-color: red; */
  text-align: center;
  border-top: thin solid rgb(247, 247, 247);
}


/*
=============== 
Bottom Nav Icon
===============
*/

.icon-box {
  margin: 7px 0;
  font-size: xx-small;
  color: rgb(194, 194, 194);
}

.botnav-icon {
  height: 18px;
  margin-bottom: 6px;
}

/*
=============== 
Main-event
===============
*/

.event-box {
  background-color: var(--clr-primary-5);
  width: 100%;
  text-align: center;
  /* height: 30rem; */
}

.event-img {
  width: 100%;
}

/*
=============== 
Product-All (main)
===============
*/

.ProductCard {
  transition: all 0.2s linear;
  margin-bottom: 14px;
  z-index: 10;
}

.productCard-img-box {
  border-radius: 5%;
  overflow: hidden;
}

.productImg {
  width: 100%;
  border-radius: 5%;
  z-index: 1;
}

.productImg:hover {
  transform: scale(1.05);
  transition: 0.4s ease;
}

.wrapper {
  margin: 1.5rem 0;
}

.productCard-title,
.productCard-price {
  font-size: large;
  font-weight: bold;
}

.productCard-price {
  border-bottom: 1px solid rgb(212, 212, 212);
}

.productCard-description {
  color: rgb(124, 124, 124);
  font-size: small;
  margin-top: 3px;
}

.star-icon {
  color: rgb(255, 174, 0);
  margin-right: 3px;
}

/*
=============== 
Recommend
===============
*/

.recommend-box-all {
  display: flex-wrap;
  justify-content: center;
  /* background-color: red; */
}

.recommend-box {
  /* background-color: red; */
  /* font-family: GmarketSansMedium; */
  padding: 0.7rem;
}

/*
=============== 
Product Detail
===============
*/

.Detail-box {
  font-family: GmarketSansMedium;
  padding: 2rem;
  /* display: flex; */
  justify-content: center;
}

.Detail-img-box {
  /* background-color: red; */
  width: auto;
}

.Detail-img {
  width: 100%;
  /* width: 50%; */
}

.imgTest {
  width: 100%;
  height: 600px;
}

/* .Detail-name-box {
  background-color: blue;
} */


/*
=============== 
Login
===============
*/
#panel {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.login-title {
  font-family: GangwonEduPowerExtraBoldA;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
  /* background-color: red; */
}

.login-input {
  width: 20rem;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  background-color: var(--clr-primary-9);
}

.login-btn-box {
  /* background-color: red; */
  text-align: center;
}

.login-btn {
  width: 20rem;
  height: 3rem;
  border-radius: 10px;
  background-color: var(--clr-primary-5);
}

.login-etc {
  /* background-color: red; */
  height: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.login-etc ul {
  /* background-color: yellow; */
  -webkit-padding-start: 0px;
}

.login-etc ul li {
  /* background-color: pink; */
  color: rgb(88, 88, 88);
  /* background-color: red; */
  display: inline;
  margin: 5px;
}

@media screen and (min-width: 992px) {
  #panel {
    padding: 6rem;
    display: flex;
    justify-content: center;
  }

  .login-title {
    font-family: GangwonEduPowerExtraBoldA;
    margin-bottom: 3rem;
    font-weight: bold;
    text-align: center;
    /* background-color: red; */
  }

  .login-input {
    width: 30rem;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    background-color: var(--clr-primary-9);
  }

  .login-btn-box {
    /* background-color: red; */
    text-align: center;
  }

  .login-btn {
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    background-color: var(--clr-primary-5);
  }

  .login-etc {
    /* background-color: red; */
    height: 3rem;
    margin-top: 1rem;
    text-align: center;
  }

  .login-etc ul {
    /* background-color: yellow; */
    -webkit-padding-start: 0px;
  }

  .login-etc ul li {
    /* background-color: pink; */
    color: rgb(88, 88, 88);
    /* background-color: red; */
    display: inline;
    margin: 1rem;
  }
}

/*
=============== 
Join
===============
*/

.join-title {
  text-align: center;
  font-family: GangwonEduPowerExtraBoldA;
  /* margin-bottom: 2rem; */
  font-weight: bold;
  /* background-color: red; */
}

.join-input {
  width: 100%;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  background-color: var(--clr-primary-9);
}

.join-btn-box {
  /* background-color: red; */
  text-align: center;
}

.join-btn {
  width: 20rem;
  height: 3rem;
  border-radius: 10px;
  background-color: var(--clr-primary-5);
}

.mb-3 {
  width: 108%;
}

.join-form {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .join-title {
    text-align: center;
    font-family: GangwonEduPowerExtraBoldA;
    margin-bottom: 3rem;
    font-weight: bold;
    /* background-color: red; */
  }

  .join-input {
    width: 100%;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    background-color: var(--clr-primary-9);
    margin-left: 0;
  }

  .join-btn-box {
    /* background-color: red; */
    text-align: center;
  }

  .join-btn {
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    background-color: var(--clr-primary-5);
  }

}

/* 
============
Community
============
*/

.Community-box {
  margin-top: 0px;
  /* background-color: red; */
}

.community-card-box {
  margin: 0.5rem 0;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 15px;
  box-shadow: var(--light-shadow);
  /* display: inline-block; */
}

.writer-box {
  display: flex;
  /* border: 1px solid blue; */
  align-items: center;
  padding: 0.5rem;

}

.writer-box>p {
  margin: 0 5px;
  color: var(--clr-primary-5);
  font-weight: bold;
}

.content-img-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  float: left;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.content-img {
  width: 100%;
  position: absolute;
  left: 0;
}

.title-box,
.content-like-comment {
  padding: 0.5rem;
}

.content-icon {
  margin: 0 4px;
  height: 20px;
}

.content-box {
  padding: 0.5rem;
  font-size: small;
}



@media screen and (min-width: 992px) {

  .Community-box {
    margin-top: 2rem;
  }

  .community-card-box {
    margin: 0.5rem 0;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    box-shadow: var(--light-shadow);
    /* display: inline-block; */
  }

  .community-card-box:hover {
    transform: scale(1.01);
    transition: 0.2s ease;
    box-shadow: var(--dark-shadow);
  }

  .writer-box {
    display: flex;
    border-bottom: 1px solid rgb(228, 228, 228);
    align-items: center;
    padding: 0.5rem;
  }

  .writer-box>p {
    margin: 0 5px;
    color: var(--clr-primary-5);
    font-weight: bold;
  }

  .content-img-box {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    float: left;
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .content-img {
    width: 100%;
    position: absolute;
    left: 0;
  }

  .title-box,
  .content-like-comment {
    padding: 0.5rem;
  }

  .content-icon {
    margin: 0 3px;
  }

  .content-box {
    padding: 0.5rem;
    font-size: small;
  }
}

/* 
================
Community insert box
================
*/

@media screen and (min-width: 992px) {

  .commu-insert-container {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 15px;
    width: 60%;
    padding-bottom: 2rem;
  }

  .commu-insert-content-row {
    border-top: 1px solid rgb(196, 196, 196);
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .commu-insert-content-pic {
    background-color: var(--clr-primary-9);
    width: 450px;
    height: 450px;
    /* padding-bottom: 50%; */
  }

  .commu-insert-content-etc {
    padding: 1rem;
    width: 50%;
  }

}

@media screen and (max-width: 992px) {

  .commu-insert-content-pic {
    background-color: var(--clr-primary-9);
    width: 350px;
    height: 350px;
    
  }

  .commu-wrapper {
    /* border-top: 1px solid rgb(196, 196, 196); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
  }

}

.commu-insert-top-row {
  height: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin: 1rem; */
}

.commu-insert-content-user {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.commu-insert-content-profile {
  height: 2rem;
  margin-right: 4px;
  color: var(--clr-primary-5);
}

.commu-insert-content-input {
  margin-bottom: 1rem;
  /* background-color: red; */
  border-bottom: 1px solid rgb(180, 180, 180);
  border-radius: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding-left: 1rem;
}

.commu-insert-content-picinput {
  background-color: transparent;
  
}

.commu-insert-content-textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 2px white;
  border-radius: 5px;
  font-size: 16px;
  resize: both;
  outline: none;
}

/* 
================
mypage
================
*/

.mypage-box {
  background-color: rgb(235, 235, 235);
}

.mypage-title-box,
.mypage-profile-box,
.mypage-calender-box {
  background-color: white;
  margin-bottom: 0.5rem;
}

.mypage-title-box {
  padding-top: 1rem;
}

.mypage-profile-box {
  padding: 1rem 0;
}

.mypage-profile-img-box {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 100%;
  background-color: var(--clr-primary-5);
}

.mypage-calender-title {
  display: flex;
  align-items: center;
}

.mypage-calender-icon {
  padding: 0.5rem;
}

.react-calendar-heatmap .color-scale-1 {
  fill: var(--clr-primary-9);
}

.react-calendar-heatmap .color-scale-2 {
  fill: var(--clr-primary-7);
}

.react-calendar-heatmap .color-scale-3 {
  fill: var(--clr-primary-5)
}

.react-calendar-heatmap .color-scale-4 {
  fill: var(--clr-primary-3)
}

.container {
  white-space: pre-line;
}

/* 
==================
Category
==================
*/

.category-box {
  /* background-color: red; */
  height: auto;
  display: flex;
  justify-content: center;
}

.category-top {
  background-color: white;
  /* position: sticky; */
  padding-top: 5px;
  height: 30px;
}

.category-list-box {
  /* background-color: blue; */
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 5px;
  height: 30px;
}

.category-ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.category-li {
  left: 0;
  color: rgb(136, 136, 136);
  margin: 0 1rem;
}

@media screen and (min-width: 992px) {

  .category-top {
    display: none;
  }

  .category-li {
    margin: 0 4rem;
  }

  .category-list-box {
    position: relative;
    margin-bottom: 1rem;
  }
}